@import url('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic');

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #337AB7;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    line-height: 1.8;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

.thequote {
    font-size: 1.25em;
    line-height: 1.8;
    color: #000;
}

q {
    display: block;
    width: 80%;
    background-color: #FFF;
    padding: 20px;
    margin: 30px auto;
    border-left: 7px solid #b77033;
}

q:before {
    content: open-quote;
    color: #b77033;
    font-size: 4em;
    line-height: .3em;
    vertical-align: -.4em;
    margin-right: .1em;
}

q:after {
    content: close-quote;
    color: #b77033;
    font-size: 4em;
    line-height: .3em;
    vertical-align: -.4em;
    margin-left: .1em;
}

.quoteby {
    display: block;
    width: 80%;
    background-color: #FFF;
    padding: 0 20px 20px;
    margin: -30px auto 45px;
    border-left: 7px solid #b77033;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.brand {
    display: inherit;
    margin: 0;
    padding: 15px 0 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3em;
    font-weight: 700;
    line-height: normal;
    color: #b73338;
}

.sub-brand {
    display: inherit;
    margin: -15px 0 0;
    padding: 0 0 40px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 3px;
    color: #b73338;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.nav > li > a {
    color: #b77033 !important;
}

.nav > li > a:hover {
    color: #000 !important;
}

.img-full {
    min-width: 100%;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.hero-home {
    width: 100%;
    height: 280px;
    background-image: url('../images/cities-travel-world-header-1920.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-content {
    position: relative;
    width: 80%;
    margin: auto;
    color: #b73338;
}

.box-top {
    margin-top: -50px;
}

.box {
    min-height: 800px;
    margin-bottom: 40px;
    padding: 30px 15px;
    background: #F0EDEB;
    box-shadow: 0px 7px 9px 0px rgba(0,0,0,0.65);
    -moz-box-shadow: 0px 7px 9px 0px rgba(0,0,0,0.65);
    -webkit-box-shadow: 0px 7px 9px 0px rgba(0,0,0,0.65);
}

.box ul {
    font-size: 1.25em;
    line-height: 1.8;
    list-style: none;
}

.box li {
    line-height: 1.75em;
}

.box li:before {
    display: inline-block;
    content: "\2022";
    font-size: 1.75em;
    padding-right: 7px;
    vertical-align: middle;
    color: #b73338;
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.box a {
    color: #b77033;
}

.box a:hover {
    color: #337AB7;
    text-decoration: none;
}

.sub-heading {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 30px 0;
}

.sub-heading:after {
    content: "";
    display: block;
    width: 50px;
    margin-top: 10px;
    border-top: 5px solid #b73338;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

.headshot-img {
    float: none;
    display: block;
    width: 250px;
    margin: 0 auto 20px;
    border: 5px solid #b73338;
}

footer {
    background: #787476;
    color: #FFF;
}

footer p {
    color: #FFF;
    margin: 0;
    padding: 50px 0;
}

@media screen and (min-width:768px) {
    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

     .brand {
        font-size: 6em;
    }

    .sub-brand {
        margin-top: -20px;
        font-size: 2.65em;
        font-weight: 600;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background-color: #F0EDEB;
    }

    .nav > li {
        margin: 0 5px;
    }

    .nav > li > a {
        color: #b77033 !important;
        padding: 35px 5px;
    }

    .nav > li > a:hover {
        color: #000 !important;
    }

    .navbar-nav > li > a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }

    .hero-home {
        width: 100%;
        height: 380px;
    }

    .headshot-img {
        float: left;
        display: inline-block;
        margin: 0 20px 20px 0;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}